@{
    ViewData["Title"] = "Quadrants";
}

<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td></td>
            <td>Urgent</td>
            <td>Not Urgent</td>
        </tr>
    </thead>
</table>